body{
background:#fff0f5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:sans-serif;
}

.letter{
width:70%;
max-width:600px;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 15px 30px rgba(0,0,0,0.15);
animation:openLetter 1.5s ease;
}

@keyframes openLetter{
from{
transform:scale(0.5) rotateX(90deg);
opacity:0;
}
to{
transform:scale(1);
opacity:1;
}
}

h2{
text-align:center;
color:#ff7aa2;
}

p{
line-height:1.8;
}
