body{
    margin:0;
    background:black;
    font-family:sans-serif;
    overflow:hidden;
}

/* ปุ่มเริ่ม */
#startScreen{
    position:fixed;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
}

#startBtn{
    font-size:26px;
    padding:18px 40px;
    border:none;
    border-radius:40px;
    background:white;
    cursor:pointer;
}

/* fade ดำ */
#fade{
    position:fixed;
    width:100%;
    height:100%;
    background:black;
    opacity:0;
    pointer-events:none;
    transition:opacity 2s;
    z-index:5;
}

/* youtube */
#youtubeContainer{
    position:fixed;
    width:100%;
    height:100%;
    display:none;
}

#player{
    width:100%;
    height:100%;
}

/* ข้อความจบ */
#endingText{
    position:fixed;
    width:100%;
    height:100%;
    color:white;
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-size:28px;
    text-align:center;
}

#endingText p{
    opacity:0;
    transition:opacity 2s;
}

/* คลิป2 */
#video2{
    position:fixed;
    width:100%;
    height:100%;
    object-fit:cover;
    display:none;
}
