
body{
    margin:0;
    background:black;
    color:white;
    font-family:sans-serif;
}

.center{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

button{
    padding:15px 30px;
    font-size:18px;
    background:white;
    color:black;
    border:none;
    border-radius:10px;
}
